<center><h1>Welcome to the Frank Sinatra Fanclub.</h1></center>
<center><img src="http://ecx.images-amazon.com/images/I/51dIJECHBML._SY300_.jpg">
<h2>Please press 'Back' on your browser to login.<h2></center>
