<center><h1>Welcome back to the Frank Sinatra Fanclub.</h1></center>
<center><h1>Hi <%= @user.email %></h1></center>
<center><img src="http://ecx.images-amazon.com/images/I/51dIJECHBML._SY300_.jpg">
<h2>What song would you like me to sing today?<h2>
<h3>Otherwise, click here to <a href="/logout" >Log Out</a></h3>
</center>